<ion-row>
  <ion-item class="status-item">
    <ul class="status-list">
      <li *ngFor="let type of statusType" (click)="setStatus(type)">
        <ion-badge class="status-badge">{{ type.name }}</ion-badge>
      </li>
    </ul>
  </ion-item>
</ion-row>

<ion-row>
  <ion-button (click)="save()" size="small" color="success">
    <fa-icon [icon]="['fas', 'check']" class="okicon"></fa-icon>
  </ion-button>
  <ion-button (click)="dismiss()" size="small" color="danger">
    <fa-icon [icon]="['fas', 'times']" class="noicon"></fa-icon>
  </ion-button>
</ion-row>
