<ion-content [formGroup]="formGroup">
  <ion-row class="ion-justify-content-center">
    <ion-chip [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label [translate]="'project.settings.details.home'"></ion-label>
    </ion-chip>

    <ion-icon class="ion-align-self-center" name="chevron-forward-outline"></ion-icon>

    <ion-chip [routerLink]="['/projects/']">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label [translate]="'project.settings.details.projects'"></ion-label>
    </ion-chip>

    <ion-icon class="ion-align-self-center" name="chevron-forward-outline"></ion-icon>

    <ion-chip [routerLink]="['/projects/' + project?.id + '/settings/details']">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label [translate]="'project.pages.board'"></ion-label>
    </ion-chip>

  </ion-row>
  <ion-title>
    <h1 translate>project.pages.board</h1>
  </ion-title>
  <ion-row>
    <ion-col size="2.5">
      <ion-item lines="none" class="outline">
        <ion-icon name="search"></ion-icon>
        <ion-input inputmode="search" formControlName="search"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none">
        <ion-label position="floating" translate>Epic</ion-label>
        <ion-select placeholder="{{'board.select' | translate}}" multiple interface="popover" formControlName="tags">
          <ion-select-option *ngFor="let epic of epics" [value]="epic.id">{{epic.description}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none">
        <ion-label position="floating" translate>board.tag</ion-label>
        <ion-select placeholder="{{'board.select' | translate}}" multiple interface="popover" formControlName="tags">
          <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none">
        <ion-label position="floating" translate>board.type</ion-label>
        <ion-select placeholder="{{'board.select' | translate}}" multiple interface="popover" formControlName="types">
          <ion-select-option *ngFor="let type of types" [value]="type">{{type}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" style="padding: 0">
      <ion-card class="main-card">
        <ion-card-header>
          <ion-card-subtitle translate [translateParams]="{value: storiesToShow.length}">board.storiesTickets</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="scrollbars board-card-content">
          <ion-list style="background-color: var(--ion-color-light-shade)">
            <app-board-card [itemsToShow]="storiesToShow"></app-board-card>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3" style="padding: 0">
      <ion-card class="main-card">
        <ion-card-header>
          <ion-card-subtitle translate [translateParams]="{value: toDoItemsToShow.length}">board.toDoTickets</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="scrollbars board-card-content">
          <ion-list style="background-color: var(--ion-color-light-shade)">
            <app-board-card [itemsToShow]="toDoItemsToShow"></app-board-card>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3" style="padding: 0">
      <ion-card class="main-card">
        <ion-card-header>
          <ion-card-subtitle translate [translateParams]="{value: openedItemsToShow.length}">board.openedTickets</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="scrollbars board-card-content">
          <ion-list style="background-color: var(--ion-color-light-shade)">
            <app-board-card [itemsToShow]="openedItemsToShow"></app-board-card>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3" style="padding: 0">
      <ion-card class="main-card">
        <ion-card-header>
          <ion-card-subtitle translate [translateParams]="{value: doneItemsToShow.length}">board.doneTickets</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="scrollbars board-card-content">
          <ion-list style="background-color: var(--ion-color-light-shade)">
            <app-board-card [itemsToShow]="doneItemsToShow"></app-board-card>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
