<!-- Project Wizard -->
<div id="project-wizard">

  <!-- Project Wizard Content -->
  <div id="project-wizard-content">
    <app-info *ngIf="info"></app-info>
    <app-invite *ngIf="invite"></app-invite>
  </div>

  <br>

  <!-- Project Wizard Footer -->
  <ion-content>
    <ion-row class="ion-justify-content-center">
      <ion-button *ngIf="info" color="light" [translate]="'wizard.continue'" (click)="continue()"></ion-button>
      <ion-button *ngIf="invite" color="light" [translate]="'wizard.complete'" (click)="complete()"></ion-button>
    </ion-row>
  </ion-content>

</div>
