ion-content {
  --padding-top: 10px!important;
}

ion-buttons ion-button {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
}

input.native-input {
  -webkit-background-clip: text!important;
}

ion-item {
  --background: var(--ion-background-color);
}

ion-list {
  background: var(--ion-background-color);
}

.main-container {
  min-height: 75vh;
}

ion-img {
  max-width: 250px;
  margin: auto;
}
