ion-content {
  --padding-top: 10px!important;
}

ion-buttons ion-button {
  --background: #eaeaea;
  --color: #424242;
}

.auth-form {
  max-width: 350px;
}

ion-input::part(native) {
  --padding-end: 0;
}

.native-input {
  align-items: end;
  padding: 6px 0;
}
