<ion-content>

  <!-- Breadcrumbs -->
  <section class="ion-margin">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/projects" [translate]="'user.projects.title'"></ion-breadcrumb>
      <ion-breadcrumb [translate]="'charts'"></ion-breadcrumb>
    </ion-breadcrumbs>
  </section>

  <!-- Title -->
  <section class="ion-margin">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-lg="" size="12">
          <ion-text>
            <h1 translate>charts.burnDownChart</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="ion-margin">
    <ion-row>
      <ion-col size-lg="3" size="12">
        <ion-item lines="none">
          <ion-label position="floating" translate>backlog.sprint</ion-label>
          <ion-select placeholder="{{'board.select' | translate}}" interface="popover" [formControl]="sprintSelectedFC">
            <ion-select-option [value]="i" *ngFor="let sprint of sprints; let i = index">Sprint {{sprint.id}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </section>

  <ion-row *ngIf="selectedSprint" class="ion-margin-bottom">
    <ion-col>
      <ion-label class="ion-margin ion-padding-bottom">
        <b translate>charts.date</b> {{selectedSprint?.startingDate + ' - ' + selectedSprint?.endingDate}}
      </ion-label>
    </ion-col>
  </ion-row>


  <ejs-chart id="chart-container" #chartContainer [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltip" class="ion-margin-end ion-margin-start" [background]="background">
    <e-series-collection>
      <e-series [dataSource]="chartData" type="Line" xName="date" yName="points" [name]="'charts.remainingWork' | translate" [marker]="marker"></e-series>
      <e-series [dataSource]="startEndChartData" type="Line" xName="date" yName="points" [name]="'charts.idealVelocity' | translate"></e-series>
    </e-series-collection>
  </ejs-chart>
</ion-content>

