.assignee-img {
  height: 30px;
  width: 30px;
  float: right !important;
  text-align: right;
}

.other-assignees {
  padding-top: 5px;
  margin-left: 3px;
}

.item-id {
  padding-top: 2px;
  margin-left: 5px;
}
