.infinte-width-inner {
  min-width: 64rem;
}

.infinte-width {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  overflow-scrolling: touch;
}

.infinte-width::-webkit-scrollbar {
  display: none;
}
