<ion-content>
  <ion-row>
    <ion-col size="8">
      <ion-row>
        <ion-col
          ><ion-badge color="light">{{ backlogInsertion.item.father?.id }}</ion-badge> /</ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col size="12"
          ><h1>{{ backlogInsertion.item.summary }}</h1></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="small" color="light" (click)="allega()">
            <fa-icon [icon]="['fas', 'paperclip']"> </fa-icon>
          </ion-button>
          <ion-button size="small" color="light" (click)="addChildren()">
            <fa-icon [icon]="['fas', 'network-wired']"> </fa-icon>
          </ion-button>
          <ion-button
            size="small"
            color="light"
            (click)="editLinkPopover($event)"
          >
            <fa-icon [icon]="['fas', 'link']"> </fa-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h5 [translate]="'backlog.detail.description'"></h5>
          <p>{{ backlogInsertion.item.description }}</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="backlogInsertion.item.father">
        <ion-col size="12">
<!--          <h5>{{'backlog.detail.childTickets' | translate}} ({{ backlogInsertion.item.children.length }})</h5> -->
          <ul class="lista-children">
<!--            <li *ngFor="let t of backlogInsertion.item.father"> -->
<!--              <b>{{ t.name }}</b> | {{ t.description }} | {{ backlogInsertion.item.evaluation }} -->
<!--            </li> -->
          </ul>
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf="backlogInsertion.item.link.length > 0">
        <ion-col size="12">
          <h5>Ticket collegati</h5>
          <div *ngFor="let t; in: backlogInsertion.item.link">sds{{ t.name }}</div>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="12">
          <h5 [translate]="'backlog.detail.activity'"></h5>
          <div [translate]="'backlog.detail.filters'"></div>
          <div [translate]="'backlog.detail.activity.add'"></div>
          <div [translate]="'backlog.detail.activity.comment.last'"></div>
        </ion-col>
      </ion-row>
    </ion-col>

    <i class="fas fa-ellipsis-h"></i>

    <ion-col size="4">
      <ion-row>
        <ion-col>
          <ion-button
            size="small"
            color="light"
            (click)="editLockPopover($event)"
          >
            <fa-icon [icon]="['fas', 'unlock-alt']" alt="ccc"></fa-icon>
          </ion-button>
          <ion-button
            size="small"
            color="light"
            (click)="editVisibilityPopover($event)"
          >
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
          </ion-button>
          <ion-button
            size="small"
            color="light"
            (click)="editLikePopover($event)"
          >
            <fa-icon [icon]="['far', 'thumbs-up']"></fa-icon>
          </ion-button>
          <ion-button
            size="small"
            color="light"
            (click)="editSharePopover($event)"
          >
            <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
          </ion-button>
          <ion-button
            size="small"
            color="light"
            (click)="actionsPopover($event)"
          >
            <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
          </ion-button>
          <ion-button size="small" color="light" (click)="close()">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div (click)="editStatusPopover($event, backlogInsertion, 'backlog')">
            <ion-badge
              *ngIf="backlogInsertion.item.status === 'OPEN'"
              color="medium"
              class="status-badge"
              >{{ backlogInsertion.item.status }}</ion-badge
            >
            <ion-badge
              *ngIf="backlogInsertion.item.status === 'DONE'"
              color="success"
              class="status-badge"
              >{{ backlogInsertion.item.status }}</ion-badge
            >
          </div>
        </ion-col>

        <ion-col size="4" *ng-if="backlogInsertion.item.status === 'completata'">
          <fa-icon [icon]="['fas', 'check']"></fa-icon>
          {{'backlog.detail.backlogInsertion.item.complete' | translate}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="dettagli-colonna">
          <div class="dettagli-colonna-titolo">
            <h5 class="dettagli-colonna-titolo-element" [translate]="'backlog.detail.task.details'"></h5>
          </div>
          <ion-row>
            <ion-col size="12">
              <div (click)="editAssegnatario()">
                <h5 [translate]="'backlog.detail.task.assignee'"></h5>
                <ion-thumbnail class="icon-avatar">
                  <img class="avatar-img" [src]="backlogInsertion.item.assignees[0].assignee.avatar" />
                </ion-thumbnail>
              </div>
              <div>
                <h5 [translate]="'backlog.detail.task.tags'"></h5>
                <ion-badge color="light" *ngFor="let tag of tags">{{tag}}</ion-badge>
              </div>

              <div>
                <h5 [translate]="'backlog.detail.task.storyPoints'"></h5>
                <div (click)="editPesoPopover($event, backlogInsertion, 'sprint')">
                  <ion-badge
                    class="weight-badge"
                    color="light"
                    (save)="editWeight($event, backlogInsertion, 'backlog')"
                  >
                    <span>{{ backlogInsertion.item.evaluation }}</span>
                  </ion-badge>
                </div>
              </div>
              <div class="dettRow">
                <h5>Sviluppo</h5>
                <div class="grupposuggestion">
                  <ion-input [value]="gitSuggestion" readonly></ion-input>
                  <ion-button
                    size="small"
                    color="light"
                    (click)="copyToClipboard($event)"
                  >
                    <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
                  </ion-button>
                </div>
              </div>
              <div class="dettRow">
                <h5>Reporter</h5>

                <ion-thumbnail class="icon-avatar">
                  <img [src]="backlogInsertion.item.owner.avatar" />
                </ion-thumbnail>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h5 [translate]="'backlog.detail.task.notes'"></h5>
          {{ backlogInsertion.item.note }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
