.my-custom-class {
  color: green;
}
#registration-form {
  color: white;
  //background: red;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 280px;
}


.msg-ok{
  color: black;
}
.msg-err{
  color: red;
}
