<ion-content>
  <div id="registration-form">
    <img src="/unijira/src/assets/logo.png" width="250px" class="main-icon" />
    <form [formGroup]="registrationFG">
      <span style="color: red" *ngIf="error">{{error | translate}}</span>
      <ion-item>
        <ion-label position="floating">{{'register.email' | translate}}</ion-label>
        <ion-input type="text" [formControl]="emailFC"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">{{'register.password' | translate}}</ion-label>
        <ion-input type="password" [formControl]="passwordFC1"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">{{'register.password.confirm' | translate}}</ion-label>
        <ion-input type="password" [formControl]="passwordFC2"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            (click)="onSubmit()"
            >{{'register.signUp' | translate}}</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [routerLink]="['/login']"
            >{{'register.signIn' | translate}}</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 class="msg-ok">{{ serverResponseOk | translate }}</h3>
          <h3 class="msg-err">{{ serverResponseErr | translate }}</h3>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
