ion-content {
  --padding-top: 10px!important;
}

ion-buttons ion-button {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
}

input.native-input {
  -webkit-background-clip: text!important;
}

ion-chip {
  pointer-events: none;
}

ion-item {
  --background: var(--ion-background-color);
}

ion-list {
  background: var(--ion-background-color);
}
