
.infinte-width-inner {
  min-width: 64rem;
}

.infinte-width {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  overflow-scrolling: touch;
}

.infinte-width::-webkit-scrollbar {
  display: none;
}


.ticket-data-row {
  .ticket-add {
    display: none;
  }
  .ticket-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  & .ticket-icon:hover {
    transform: scale(1.2);
  }
}




