<ion-content>

  <!-- Breadcrumbs -->
  <section class="ion-margin">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/projects" [translate]="'user.projects.title'"></ion-breadcrumb>
      <ion-breadcrumb [routerLink]="['/projects', projectId || 0, 'tickets']" [translate]="'projects.tickets.title'"></ion-breadcrumb>
      <ion-breadcrumb>#{{ticket?.id || 0}}</ion-breadcrumb>
    </ion-breadcrumbs>
  </section>

  <!-- Title and Call to Action -->
  <section class="ion-margin">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-thumbnail class="row-icon">
            <ion-img *ngIf="ticket" [src]="'/assets/img/tickets/' + ticket.type + '.svg'"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-text *ngIf="ticket">
            <h1 class="ion-no-margin">
              {{ticket.summary}}
            </h1>
          </ion-text>
        </ion-col>
        <ion-col size-lg="auto" size="12" class="ion-text-end">
          <ion-button color="primary" (click)="save()" [disabled]="!dirty || !ticket">
            <ion-icon slot="start" name="save"></ion-icon>
            <ion-text [translate]="'projects.tickets.view.save'"></ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- Ticket Details -->
  <section class="ion-margin" *ngIf="ticket">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.summary'"></ion-label>
            <ion-input  [placeholder]="'projects.tickets.view.summary.placeholder' | translate" [(ngModel)]="ticket.summary" maxlength="255"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.status'"></ion-label>
            <ion-select [(ngModel)]="ticket.status" [placeholder]="'projects.tickets.view.status.placeholder' | translate" interface="popover" >
              <ion-select-option value="{{ticketStatus.open}}">{{ticketStatus.open | ticketStatus | translate | titlecase}}</ion-select-option>
              <ion-select-option value="{{ticketStatus.todo}}">{{ticketStatus.todo | ticketStatus | translate | titlecase}}</ion-select-option>
              <ion-select-option value="{{ticketStatus.done}}">{{ticketStatus.done | ticketStatus | translate | titlecase}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.evaluation'"></ion-label>
            <ion-input type="number" [placeholder]="'projects.tickets.view.evaluation.placeholder' | translate" inputmode="numeric" min="0" step="1" [(ngModel)]="ticket.evaluation"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.measureUnit'"></ion-label>
            <ion-select [(ngModel)]="ticket.measureUnit" [placeholder]="'projects.tickets.view.measureUnit.placeholder' | translate" interface="popover" >
              <ion-select-option value="{{measureUnit.storyPoints}}">{{measureUnit.storyPoints | measureUnit | translate | titlecase}}</ion-select-option>
              <ion-select-option value="{{measureUnit.workingDays}}">{{measureUnit.workingDays | measureUnit | translate | titlecase}}</ion-select-option>
              <ion-select-option value="{{measureUnit.workingHours}}">{{measureUnit.workingHours | measureUnit | translate | titlecase}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.tags'"></ion-label>
            <ion-input [placeholder]="'projects.tickets.view.tags.placeholder' | translate" [(ngModel)]="ticket.tags"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.tickets.view.release'"></ion-label>
            <ion-select [(ngModel)]="ticket.releaseId" [placeholder]="'projects.tickets.view.release.placeholder' | translate" interface="popover" >
              <ion-select-option *ngFor="let release of releases" [value]="release.id">{{release.version}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" [translate]="'projects.releases.view.description'"></ion-label>
            <ion-textarea [(ngModel)]="ticket.description" auto-grow="true" rows="4" maxlength="8192"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <!-- Ticket Assigners -->
  <section class="ion-margin" *ngIf="ticket && memberships">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text>
            <h2 [translate]="'projects.tickets.view.assigners'"></h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-start">
        <ion-col size-lg="6" size="12">
          <ion-label position="floating">
            {{'projects.tickets.view.assigner' | translate}}: {{ticket?.assignees?.length || 0}}
          </ion-label>
          <app-input-select-user [memberships]="memberships" [multiple]="true" [(ngModel)]="ticket.assignees"></app-input-select-user>
        </ion-col>
        <ion-col size-lg="6" size="12">
          <ion-label position="floating" [translate]="'projects.releases.view.owner'"></ion-label>
          <ion-item class="ion-margin-vertical" [routerLink]="['/users', ticket.owner.id]">
            <ion-avatar class="owner-icon" slot="start">
              <ion-img [src]="ticket?.owner?.avatar || 'assets/img/user/avatar.svg'" alt=""></ion-img>
            </ion-avatar>
            <section>
              <div>
                <ion-text>
                  <span>{{ticket?.owner?.firstName || 'John'}} {{ticket?.owner?.lastName || 'Doe'}}</span>
                </ion-text>
              </div>
              <div>
                <ion-text color="medium">
                  <small>{{ticket?.owner?.username}}</small>
                </ion-text>
              </div>
            </section>
            <ion-badge color="medium" class="ion-margin-end" slot="end">
              <ion-label>{{ticket?.createdAt | date: 'dd/MM/YYYY'}}</ion-label>
            </ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <!-- Tickets Children -->
  <section class="ion-margin" *ngIf="ticket && ticket.sons">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text>
            <h2 [translate]="'projects.tickets.view.children'"></h2>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-ticket-data-table [projectId]="projectId" [tickets]="ticket.sons"></app-ticket-data-table>
  </section>


</ion-content>
