<ion-content>
  <div id="login-form">
    <img src="/assets/logo.png" width="250" class="main-icon" alt="" />
    <form [formGroup]="loginFG">
      <span style="color: red" translate *ngIf="areWrongCredential">login.wrongCredential</span>
      <ion-item>
        <ion-label position="floating" [translate]="'login.email'"></ion-label>
        <ion-input type="text" [formControl]="emailFC"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" [translate]="'login.password'"></ion-label>
        <ion-input type="password" [formControl]="passwordFC"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" (click)="logIn()" [translate]="'login.signIn'"></ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [routerLink]="['/registration']" [translate]="'login.signUp'"></ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
