<ion-content>

  <!-- Breadcrumbs -->
  <section class="ion-margin">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/projects" [translate]="'user.projects.title'"></ion-breadcrumb>
      <ion-breadcrumb [translate]="'projects.documents.title'"></ion-breadcrumb>
    </ion-breadcrumbs>
  </section>

  <!-- Title and Call to Action -->
  <section class="ion-margin">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-lg="" size="12">
          <ion-text>
            <h1 [translate]="'projects.documents.title'"></h1>
          </ion-text>
        </ion-col>
        <ion-col size-lg="auto" size="6">
          <ion-button [disabled]="files.length === 0" (click)="load()" color="primary" expand="block">
            <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
            <ion-text [translate]="'projects.documents.load'"></ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- Drug and Drop -->
  <section class="ion-margin ion-padding">
    <ngx-dropzone class="dropzone" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <h3><i>{{'projects.documents.drop.title' | translate}}</i></h3>
        <ion-icon name="cloud-upload-outline" size="large"></ion-icon>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div *ngIf="uploading" class="ion-margin smooth">
      <ion-progress-bar *ngIf="uploading" type="indeterminate"></ion-progress-bar>
    </div>
  </section>

  <!-- Filters -->
  <section class="ion-margin">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-lg="6">
          <ion-label color="medium" class="ion-margin">
            <small [translate]="'projects.documents.search.label'"></small>
          </ion-label>
          <ion-searchbar [placeholder]="'projects.documents.search.placeholder' | translate" [(ngModel)]="filterSearch"></ion-searchbar>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="floating" color="medium" class="ion-margin">
              <span [translate]="'projects.documents.mimes.label'"></span>
            </ion-label>
            <ion-select [(ngModel)]="filterMimes" [placeholder]="'projects.documents.mimes.placeholder' | translate" [disabled]="!filteredDocuments || filteredDocuments.length === 0" [multiple]="true" interface="popover" class="ion-padding-top w-100">
              <ion-select-option *ngFor="let mime of mimes" [value]="mime">{{ mime | titlecase}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- List of Documents -->
  <section class="ion-margin infinte-width">
    <ion-list class="infinte-width-inner">

      <!-- Header -->
      <ion-item>
        <ion-grid>
          <ion-row>

            <!-- Filename -->
            <ion-col size="6">
              <ion-text color="medium">
                <strong>
                  <ion-label [translate]="'projects.documents.list.filename'"></ion-label>
                </strong>
              </ion-text>
            </ion-col>

            <!-- Mime -->
            <ion-col size="2">
              <ion-text color="medium">
                <strong>
                  <ion-label [translate]="'projects.documents.list.type'"></ion-label>
                </strong>
              </ion-text>
            </ion-col>

            <!-- Owner -->
            <ion-col size="2">
              <ion-text color="medium">
                <strong>
                  <ion-label [translate]="'projects.documents.list.owner'"></ion-label>
                </strong>
              </ion-text>
            </ion-col>

            <!-- Load Date -->
            <ion-col size="2">
              <ion-text color="medium">
                <strong>
                  <ion-label [translate]="'projects.documents.list.loadDate'"></ion-label>
                </strong>
              </ion-text>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>

      <!-- Documents -->
      <ion-item *ngFor="let d of filteredDocuments" [disabled]="!projectId" [href]="d.path?.toString() || ''">
        <ion-grid>
          <ion-row class="ion-align-items-center">

            <!-- Filename -->
            <ion-col size="6">
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <ion-icon name="document-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <span [innerHTML]="d.filename | filtered:filterSearch"></span>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

            <!-- Mime -->
            <ion-col size="2">
              <ion-badge [style.background]="color(d.mime)">
                <ion-label>{{ d.mime | uppercase}}</ion-label>
              </ion-badge>
            </ion-col>

            <!-- Owner -->
            <ion-col size="2">
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <ion-avatar [title]="d.userUsername" class="row-icon user-avatar">
                    <ion-img [src]="d.userAvatar || '/assets/img/user/avatar.svg'" alt=""></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col>
                  <ion-label>
                    {{ d.userFirstName }} {{ d.userLastName }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="2">

              <ion-row class="ion-align-items-center">

                <!-- Load Date -->
                <ion-col>
                  <ion-label>
                    {{ d.createdAt | date:'dd/MM/YYYY' }}
                  </ion-label>
                </ion-col>

                <!-- Remove Document -->
                <ion-col size="auto">
                  <ion-button fill="clear" color="danger">
                    <ion-icon (click)="remove(d)" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>

              </ion-row>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- Skeleton Documents -->
    <ion-list *ngIf="!documents">
      <ion-item *ngFor="let document of [1,2,3,4,5,6]">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="2">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="2">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="2">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <p *ngIf="documents?.length === 0" class="ion-text-center ion-margin">
      <ion-text color="medium">
        <br>
        <br>
        <i [translate]="'projects.documents.list.empty'"></i>
      </ion-text>
    </p>

  </section>

</ion-content>
