ion-content {
  --padding-top: 80px !important;
}
.e-dialog .e-dlg-header {
  color: white;
  font-size: 20px;
  font-weight: normal;

}
.e-dialog .e-dlg-header-content {
  background: #3f51b5;
}
.toolbar{
  background:
  var(--ion-color-primary, #3f51b5) !important
}
