<ion-app>
  <app-loading *ngIf="loading"></app-loading>
  <ion-header *ngIf="isLogged && !isPageWithoutHeader()">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">

        <ion-icon [name]="currentColorTheme === 'dark' ? 'sunny' : 'moon'"></ion-icon>
        <ion-toggle (ionChange)="onToggleColorTheme($event)" slot="end" class="ion-margin-end"></ion-toggle>

        <ion-button (click)="showNotifications($event)">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="danger" *ngIf="unreadNotificationsCount > 0">{{unreadNotificationsCount}}</ion-badge>
          <app-notifications #notifications (updateNotificationsCount)="unreadNotificationsCount = $event"></app-notifications>
        </ion-button>

        <ion-button (click)="_userPopOver($event)">
          <ion-icon name="person-circle" class="ion-margin-end"></ion-icon>
          <ion-text class="ion-text-lowercase">{{userInfo?.username || '' }}</ion-text>
        </ion-button>

        <ion-button class="ion-padding-horizontal" (click)="switchLanguage()">
          <span>{{translateService.currentLang}}</span>
        </ion-button>

      </ion-buttons>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <a routerLink="/home" (click)="isDisabled = false">
              <ion-img src="/assets/logo-navbar.webp" class="main-icon ion-margin-start"></ion-img>
            </a>
          </ion-col>
          <ion-col>
              <ion-title><b>{{'app.title' | translate | titlecase}}</b></ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane content-id="content" *ngIf="isLogged && checkUrl()" [disabled]="isDisabled">

    <ion-menu type="overlay" content-id="content">
      <ion-content>

        <ion-list id="inbox-list">

          <ion-list-header>{{project?.name}}</ion-list-header>
          <ion-note>{{project?.key}}</ion-note>

          <div *ngIf="this.router.url.includes('settings')">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/projects/' + project?.id]"
                      lines="none" detail="false" routerLinkActive="selected" >
              <ion-icon name="arrow-back-circle"></ion-icon>
              <ion-label class="ion-align-self-center ion-padding-start" [translate]="'project.pages.settings.back'"></ion-label>
            </ion-item>

          </ion-menu-toggle>
          <hr>
          </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let element of (this.router.url.includes('settings') ? settings : pages)">
            <ion-item routerDirection="root" [routerLink]="[element?.url]"
                      lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="{{element?.icon}}"></ion-icon>
              <ion-label class="ion-align-self-center ion-padding-start" [translate]="element?.name"></ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-button shape="round" class="right-button" size="small" (click)="isDisabled = !isDisabled">
            <fa-icon [icon]="['fas', 'chevron-left']" *ngIf="!isDisabled"></fa-icon>
            <fa-icon [icon]="['fas', 'chevron-right']" *ngIf="isDisabled"></fa-icon>
          </ion-button>

        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="content"></ion-router-outlet>

  </ion-split-pane>

  <ion-router-outlet *ngIf="!isLogged || !(checkUrl())"></ion-router-outlet >
</ion-app>
