<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title> Roadmap </ion-title>
    </ion-toolbar>
  </ion-header>
  <ejs-gantt id="ganttDefault" height="80%" [dataSource]="data" [taskFields]="taskSettings"
    [editSettings]="editSettings" [toolbar]="toolbar" [enableContextMenu]="true" [allowSelection]="true"
    [allowSorting]="true" [splitterSettings]="splitterSettings" [sortSettings]="sortSettings" [allowFiltering]="true"
    [editDialogFields]="editDialogFields" (actionComplete)="onActionComplete($event)"
    (actionBegin)="actionBegin($event)" (toolbarClick)="toolbarClick($event)"
    (queryTaskbarInfo)="queryTaskbarInfo($event)" (load)="onLoad($event)">
    <e-columns>
      <e-column field="TaskID" headerText="ID" textAlign="Left" width="100"></e-column>
      <e-column field="ItemType" headerText="Type" mappingName="itemType" width="150">
        <ng-template #template let-data>
          <ion-row>
            <ion-img src="/assets/img/tickets/{{data.ItemType}}.svg" style="height: 30px; width: 30px">
            </ion-img>
            <h6 style="font-size: 14px; margin-left: 5px; margin-top: 5px">
              {{data.ItemType}}
            </h6>
          </ion-row>
        </ng-template>
      </e-column>
      <e-column field="TaskName" [headerText]="'project.roadmap.taskName' | translate" width="150"> </e-column>
      <e-column field="StartDate" headerText="Start Date" width="150"></e-column>
      <e-column field="Duration" headerText="Duration" width="150"></e-column>
    </e-columns>
  </ejs-gantt>

  <!--[allowRowDragAndDrop]="true"-->
  <ejs-dialog showCloseIcon="true" id="adddialog" #adddialog width="700px" isModal="true" header="Add A New Item"
    [buttons]="button" [visible]="visible" [animationSettings]="animationSettingsDialog">
    <ng-template #content>
      <h1></h1>
      <ion-row>
        <ejs-textbox id="taskName" #taskname placeholder="Task Name" width="300px"></ejs-textbox>
        <ejs-dropdownlist id="itemType" [dataSource]="dataDropDown" placeholder="Item Type" width="300px"
          style="margin-inline-start: 20px" (change)="showFathersDropDown($event)"></ejs-dropdownlist>
      </ion-row>
      <h1></h1>
      <ion-row>
        <ejs-datepicker id="startDate" #startDate placeholder="Start Date" width="300px"></ejs-datepicker>
        <ejs-datepicker id="endDate" #endDate placeholder="End Date" width="300px" style="margin-inline-start: 20px">
        </ejs-datepicker>
      </ion-row>
      <h1></h1>
      <ion-row>
        <ejs-dropdownlist id="father" [dataSource]="dataFathersDropDown" placeholder="Select father" width="300px"
          [enabled]="enabled"></ejs-dropdownlist>
      </ion-row>
    </ng-template>
  </ejs-dialog>
</ion-content>
