<ion-content>
  <!-- Breadcrumbs -->
  <section class="ion-margin">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/projects" [translate]="'user.projects.title'"></ion-breadcrumb>
      <ion-breadcrumb [translate]="'project.pages.discussions'"></ion-breadcrumb>
    </ion-breadcrumbs>
  </section>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen=false">
    <ng-template>
      <app-new-discussion [project]="project" (closeModule)="$event ? isModalOpen=false : isModalOpen=true"></app-new-discussion>
    </ng-template>
  </ion-modal>

  <!-- Title and Call to Action -->
  <section class="ion-margin">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-lg="" size="12">
          <ion-text>
            <h1 translate>project.pages.discussions</h1>
          </ion-text>
        </ion-col>
        <ion-col size-lg="auto" size="6">
          <ion-button color="primary" expand="block" (click)="isModalOpen=!isModalOpen">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-text translate>discussions.newDiscussion</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="ion-margin" [formGroup]="formGroup">
    <ion-row>
      <ion-col size="6">
        <ion-searchbar [placeholder]="'board.searchText' | translate" formControlName="search"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="floating" translate>board.type</ion-label>
          <ion-select placeholder="{{'board.select' | translate}}" multiple interface="popover" formControlName="types">
            <ion-select-option [value]="topicType.announcements" translate>discussions.announcements</ion-select-option>
            <ion-select-option [value]="topicType.general" translate>discussions.general</ion-select-option>
            <ion-select-option [value]="topicType.ideas" translate>discussions.ideas</ion-select-option>
            <ion-select-option [value]="topicType.qanda" translate>discussions.qanda</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </section>


  <section class="ion-margin-vertical infinte-width">
    <ion-list class="infinte-width-inner">
      <ion-item>
        <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-text color="medium">
              <strong>
                <ion-label translate>discussions.id</ion-label>
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text color="medium">
              <strong>
                <ion-label translate>discussions.title</ion-label>
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text color="medium">
              <strong>
                <ion-label translate>discussions.openedBy</ion-label>
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text color="medium">
              <strong>
                <ion-label translate>discussion.date</ion-label>
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text color="medium">
              <strong>
                <ion-label translate>disussions.messages</ion-label>
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text color="medium">
              <strong>
                <ion-label translate>discussions.type</ion-label>
              </strong>
            </ion-text>
          </ion-col>
        </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngFor="let topic of filteredTopics" [routerLink]="['/projects', project.id, 'discussions', topic.id]" >
        <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-text>
              <strong>#{{ topic.id }}</strong>
            </ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>
              <strong [innerHTML]="topic.title | filtered:searchFC.value | truncate:128"></strong>
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-avatar class="avatar-center row-icon" [title]="topic.user?.username">
              <ion-img [src]="topic.user?.avatar || '/assets/img/user/avatar.svg'" alt=""></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text>
              <strong>{{ topic.createdAt | time | async }}</strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <ion-text>
              <strong [innerHTML]="topic.numMessages"></strong>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-text-center">
            <!-- I used inline style because these colors don't need to change, like img icons-->
            <div [title]="'discussions.ideas' | translate">
              <ion-icon name="bulb" style="color: #ffc409" size="large" *ngIf="topic.type===topicType.ideas">
              </ion-icon>
            </div>
            <div [title]="'discussions.general' | translate">
              <ion-icon name="chatbubbles" style="color: #4c8dff" size="large" *ngIf="topic.type===topicType.general">
              </ion-icon>
            </div>
            <div [title]="'discussions.qanda' | translate">
              <ion-icon name="help-circle" style="color: #2dd36f" size="large" *ngIf="topic.type===topicType.qanda">
              </ion-icon>
            </div>
            <div [title]="'discussions.announcements' | translate">
              <ion-icon name="megaphone" style="color: #a94442" size="large" *ngIf="topic.type===topicType.announcements">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!topics">
      <ion-item *ngFor="let topic of [1,2,3,4,5,6]">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="1">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="8">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="1">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="1">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="1">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <p *ngIf="topics?.length === 0" class="ion-text-center ion-margin">
      <ion-text color="medium">
        <br>
        <br>
        <i translate>discussions.noDiscussions</i>
      </ion-text>
    </p>
  </section>

</ion-content>
