@import url("https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.8/dragula.css");

.sprint,
.backlog {
  padding: 10px;
  border-color: darkgreen;
  border-style: dashed;
  border-width: 5px;
  border-radius: 15px;
  margin: 10px 0;
  background-color: #ececec;
}

.light-gray-bg {
  background-color: #ececec;
}

.white-bg {
  background-color: white;
}

.backlog {
  border-color: gray;
}

.q1,
.q2,
.q3,
.q4 {
  border: 4px solid #fff;
}

.matrix {
  margin-top: 30px;

  ion-col {
    --ion-grid-column-padding: 0px;
    min-height: 150px;
  }

  .list {
    padding: 0px;
    height: 100%;
  }

  ion-item {
    margin-bottom: 2px;
  }
}

.q-header {
  background-color: var(--ion-color-light);
  height: 20px;
  text-align: center;
}

.delete-area {
  border: 2px dashed var(--ion-color-medium);
  margin: 10px;
  height: 100px;
  ion-icon {
    font-size: 64px;
  }
}

.edit-icon:hover {
  color: #1877f2;
} /*change to red just to show that the color is actually changing */

.task-item {
  // background-color: red;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-area {
  justify-content: end;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.icon-area > * {
  margin-left: 10px;
}

.avatar-img {
  border-radius: 50%;
  border: 1px solid darkslategrey;
}

.avatar {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}
.task-item,
.task-item > * {
  height: 50px !important;
}

ion-icon {
  font-size: 2rem;
}
.page {
  padding: 0 15px;
}

.weitght-field {
  width: 50px;
  font-size: 16px;
}

// .status-item {
//   width: 200px;
//   color: darkred;
//   font-weight: bold;
//   max-height: unset;
//   font-size: 12px;
//   padding: 0;
//   background-color: red;
// }

// .status-item > * {
//   padding: 0;
// }

// .status-select {
//   padding: 0;
// }

// .status-select:host {
// }
// .item-inner {
//   padding: 0 !important;
// }
// .select-icon {
//   display: none !important;
// }

// .item-native {
//   padding: 0;
// }

// .taskicon {
//   font-size: 1rem;
// }

// item-input {
//   height: 20px;
//   color: red;
// }

// .item-native {
//   padding-inline-start: 0 !important;
//   padding-inline-end: 0 !important;
// }

// .no-inline-padding {
//   padding-inline-start: 0 !important;
//   padding-inline-end: 0 !important;
// }

// .native-input.sc-ion-input-md {
//   padding-left: unset;
//   padding-right: unset;
//   -webkit-padding-start: 0;
//   padding-inline-start: 0;
//   -webkit-padding-end: 0;
//   padding-inline-end: 0;
// }


ion-input{
  border-radius: 10px !important;
  padding-right: 30px;
  font-size: 0.9em;
  border: 1px solid #f1f1f1 !important;
  --background: rgb(219,219,219) !important;
  /* height: 10%; */
  /* width: 41%; */
  max-width: 50vw; // this is applying perfectly
  max-height: 10px
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
