<ion-content>
  <div class="page">
    <ion-row>
      <ion-col>
        Progetto #{{projectId}} <a href="/home">change project</a>
      </ion-col>
      <ion-col>
        <ion-button (click)="startSprint()">
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
      <app-backloglist [projectId]="projectId"></app-backloglist>
      </ion-col>
      <ion-col>
        <app-sprintlist [projectId]="projectId" [backlogId]="backlogId"></app-sprintlist>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Sprint #{{sprintId}}</h1>
        <div class="sprint">
          <div *ngIf="!sprint || !sprint.tasks">
            <p>Sprint vuoto</p>
          </div>
          <div *ngIf="sprint && sprint.tasks">
            <ion-list
              dragula="bag"
              [(dragulaModel)]="sprint.tasks"
              lines="none"
              class="light-gray-bg"
            >
              <ion-row
                *ngFor="let task of sprint.tasks"
                class="ion-align-items-end task-item white-bg"
              >
                <ion-col>
                  <fa-icon
                    [icon]="['fas', 'bookmark']"
                    class="taskicon"
                  ></fa-icon>
                  <span class="task-name"> {{ task.name }} </span>
                </ion-col>

                <ion-col class="ion-justify-content-end" class="icon-area">
                  <div *ngIf="task.children?.length > 0">
                    <fa-icon
                      [icon]="['fas', 'network-wired']"
                      class="childicon"
                    >
                    </fa-icon>
                  </div>

                  <div (click)="editPesoPopover($event, task, 'sprint')">
                    <ion-badge
                      class="weight-badge"
                      color="light"
                      (save)="editWeight($event, task, 'backlog')"
                    >
                      <span>{{ task.weight }}</span>
                    </ion-badge>
                  </div>

                  <div
                    (click)="editStatusPopover($event, task, 'sprint')"
                    class="status-badge-div"
                  >
                    <ion-badge
                      *ngIf="task.status === 'da_completare' "
                      color="medium"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                    <ion-badge
                      *ngIf="task.status === 'completato' "
                      color="success"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                    <ion-badge
                      *ngIf="task.status === 'in_corso' "
                      color="primary"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                  </div>

                  <ion-thumbnail class="avatar" *ngIf="task.assignedTo">
                    <img class="avatar-img" [src]="task.assignedTo[0].avatar" />
                  </ion-thumbnail>
                  <ion-button
                    class="action-btn"
                    size="small"
                    color="light"
                    (click)="presentModal(task)"
                  >
                    <fa-icon
                      [icon]="['fas', 'ellipsis-h']"
                      class="childicon"
                    ></fa-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Backlog #{{backlogId}}</h1>
        <div class="backlog">
          <div *ngIf="!backlog || !backlog.tasks">
            <p>Backlog vuoto</p>
          </div>
          <div *ngIf="backlog && backlog.tasks">
            <ion-list
              dragula="bag"
              lines="none"
              class="light-gray-bg"
              [(dragulaModel)]="backlog.tasks"
            >
              <ion-row
                *ngFor="let task of backlog.tasks"
                class="ion-align-items-end task-item white-bg"
              >
                <ion-col>
                  <fa-icon
                    [icon]="['fas', 'bookmark']"
                    class="taskicon"
                  ></fa-icon>
                  <span class="task-name"> {{ task.name }} </span>
                </ion-col>

                <ion-col class="ion-justify-content-end" class="icon-area">
                  <div *ngIf="task.children?.length > 0">
                    <fa-icon
                      [icon]="['fas', 'network-wired']"
                      class="childicon"
                    >
                    </fa-icon>
                  </div>

                  <div (click)="editPesoPopover($event, task, 'backlog')">
                    <ion-badge
                      class="weight-badge"
                      color="light"
                      (save)="editWeight($event, task, 'backlog')"
                    >
                      <span>{{ task.weight }}</span>
                    </ion-badge>
                  </div>

                  <div
                    (click)="editStatusPopover($event, task, 'backlog')"
                    class="status-badge-div"
                  >
                    <ion-badge
                      *ngIf="task.status === 'da_completare' "
                      color="medium"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                    <ion-badge
                      *ngIf="task.status === 'completato' "
                      color="success"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                    <ion-badge
                      *ngIf="task.status === 'in_corso' "
                      color="primary"
                      class="status-badge"
                      >{{ task.status.replace("_", " ") }}</ion-badge
                    >
                  </div>

                  <ion-thumbnail class="avatar" *ngIf="task.assignedTo">
                    <img class="avatar-img" [src]="task.assignedTo[0].avatar" />
                  </ion-thumbnail>
                  <ion-button
                    class="action-btn"
                    size="small"
                    color="light"
                    (click)="presentModal(task)"
                  >
                    <fa-icon
                      [icon]="['fas', 'ellipsis-h']"
                      class="childicon"
                    ></fa-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="getFromApi()"
          expand="block"
          color="primary"
          class="add-task-button"
        >
          Get from server
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          (click)="saveToAPI()"
          expand="block"
          color="primary"
          class="add-task-button"
        >
          Save on server
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
