.info-icon {
  color: #6554C0;
}

.info-text {
  color: lightslategray;
}

.text-limit {
  max-width: 420px;
  font-size: 18px;
  color: lightslategray;
}

.row-icon {
  height: 1.5rem;
  width: 1.5rem;
}
